<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<div class="container">
    <h2>Prezado ${name},</h2>
    <p>Foi recebida uma solicitação para redefinir sua senha.</p>
    <p>Não se preocupe! Você pode criar uma nova senha segura clicando no botão abaixo.</p>
    <a href="http://localhost:8080/reset-password/reset?token=${token}" class="button">Redefinir Senha</a>
    <p>Se você não solicitou a redefinição da sua senha, favor ignorar este e-mail.</p>
    <p>Por motivos de segurança, não responda a este e-mail.</p>
    <p class="footer">Atenciosamente,<br>Equipe de Shopping Store</p>
</div>
</body>
</html>

